{% extends "layout.html" %}

{% block title %}

Homepage

{% endblock %}

{% block content %}

<main class="row mt-5">
  <div class="col-12 mb-4">
    <h1 class="text-center mb-0">Do you even have a plant?</h1>
  </div>

  <div class="col-10 offset-1">
    <p class="mb-4">It looks like you don't have any plant registered yet, please add one to start tracking its growth.</p>

    <div class="d-grid">
      <a class="btn btn-primary" href="{{ url_for('plants.add_plant') }}">
        Add a plant
      </a>
    </div>
  </div>

</main>

{% endblock %}