{% from '+dirt_cube.html.jinja' import dirt_cube  %}

{% macro header(cultivation_plot) -%}
  <header class="row">
    <div class="col-6">
      <h1 class="text-center mb-2">{{ cultivation_plot.name }}</h1>
      {{ dirt_cube('m3-3') }}
      <div class="fst-italic text-center">{{ cultivation_plot.crop }}</div>
    </div>
    <div class="col-6 d-flex flex-column justify-content-center">
      {% include 'cultivation_plots/_nav.html.jinja' %}
      <hr>
      <form id="delete-form">
        <div class="d-grid">
          <button type="submit" class="btn btn-sm btn-outline-danger">Delete</button>
        </div>
      </form>
    </div>
  </header>

  <script>
    document.getElementById('delete-form').addEventListener('submit', (event) => {
      event.preventDefault()
      console.warn('Not implemented')
    })
  </script>
{%- endmacro %}