{% extends "layout.html" %}

{% block title %}

Cultivation plots

{% endblock %}

{% block content %}

<main>

  <h1 class="text-center mb-4">Cultivation plots</h1>

  {% if not cultivation_plots or len(cultivation_plots) == 0 %}
  
  <div class="col-10 offset-1">
    <p class="mb-4">It looks like there are no cultivation plots to show here.</p>

    <div class="d-grid">
      <a class="btn btn-primary" href="{{ url_for('cultivation_plots.new_cultivation_plot') }}">
        Create a cultivation plot
      </a>
    </div>
  </div>

  {% endif %}

</main>

{% endblock %}