{% extends "layout.html.jinja" %}

{% block title %}

Cultivation plots

{% endblock %}

{% block content %}

<main>

  <h1 class="mb-5 text-center">Your cultivation plots</h1>

  {% if not cultivation_plots or cultivation_plots|length == 0 %}

  <p class="mb-4">It looks like there are no cultivation plots to show here.</p>

  <form action="{{ url_for('cultivation_plots.new_cultivation_plot') }}">
    <div class="d-grid">
      <button type="submit" class="btn btn-primary">
        {% include "svgs/plus_icon.html.jinja" %}
        <span>&nbsp;Create a cultivation plot</span>
      </button>
    </div>
  </form>

  {% else %}

  <div class="row row-cols-1 gy-3 gx-0">

    {% for cultivation_plot in cultivation_plots %}

    <div class="col border rounded p-3">
      <div class="row">
        <div class="col-4">
          <div class="fw-bold text-center fs-4">{{ cultivation_plot.name }}</div>

          <img class="img-fluid my-1" src="{{ url_for('static', filename='plant_cube.png') }}" alt="A plant growing from the soil">

          <div class="fst-italic text-center">{{ cultivation_plot.crop }}</div>
        </div>

        <div class="col-8 d-flex flex-column align-items-end justify-content-between">
          <table class="table table-sm">
            <tbody>
              <tr>
                <th scope="row">Plants</th>
                <td>{{ cultivation_plot.number_of_plants }}</td>
              </tr>
              <tr>
                <th scope="row">Water spent (L)</th>
                <td>{{ cultivation_plot.water_spent }}</td>
              </tr>
              <tr>
                <th scope="row">Harvest (kg)</th>
                <td>{{ cultivation_plot.harvest }}</td>
              </tr>
            </tbody>
          </table>

          <a href="{{ url_for('cultivation_plots.cultivation_plot', id=cultivation_plot.id) }}">View details</a>
        </div>

      </div>
    </div>

    {% endfor %}

  </div>

  {% endif %}

</main>

{% endblock %}