{% extends "layout.html.jinja" %}

{% from '+dirt_cube.html.jinja' import dirt_cube %}

{% block title %}

New cultivation plot

{% endblock %}

{% block content %}

<header>
  <div class="w-25 mb-3 mx-auto">
    {{ dirt_cube() }}
  </div>
  <h1 class="text-center mb-4">New cultivation plot</h1>
</header>

<main>

  <form class="border rounded p-3" method="POST" action="{{ url_for('cultivation_plots.new_cultivation_plot') }}">
    <div class="mb-3">
      <label class="form-label" for="name">Name <span class="text-danger">*</span></label>
      <input autofocus class="form-control" type="text" name="name" id="name" required>
      <div id="name-help" class="form-text">To help you identify the plot.</div>
    </div>

    <div class="mb-3">
      <label class="form-label" for="crop">Crop <span class="text-danger">*</span></label>
      <input class="form-control" type="text" name="crop" id="crop" required>
      <div id="crop-help" class="form-text">Carrot, banana, potato, tomato, etc.</div>
    </div>

    <div class="mb-5">
      <label class="form-label" for="number-of-plants">Number of plants</label>
      <input class="form-control" type="number" min="0" name="number-of-plants" id="number-of-plants" value="0">
      <div id="name-help" class="form-text">How many plants does the plot have?</div>
    </div>

    <div class="d-grid">
      <button type="submit" class="btn btn-primary">Create</button>
    </div>
  </form>
</main>

{% endblock %}