{% extends "layout.html" %}

{% block title %}

New cultivation plot

{% endblock %}

{% block content %}

<main>
  <h1 class="text-center mb-4">Create a cultivation plot</h1>

  <div class="w-25 mx-auto mb-4">
    <img class="img-fluid" src="{{ url_for('static', filename='plant_cube.png') }}" alt="A plant growing from a cube of dirt">
  </div>
  

  <form class="border rounded p-4" method="POST" action="{{ url_for('cultivation_plots.new_cultivation_plot') }}">
    <div class="mb-3">
      <label class="form-label" for="name">Name</label>
      <input class="form-control" type="text" name="name" id="name" required>
      <div id="name-help" class="form-text">To help you identify the plot.</div>
    </div>

    <div class="mb-3">
      <label class="form-label" for="name">Crop</label>
      <input class="form-control" type="text" name="name" id="name" required>
      <div id="crop-help" class="form-text">Carrot, banana, potato, tomato, etc.</div>
    </div>

    <div class="d-grid">
      <button type="submit" class="btn btn-primary">Create</button>
    </div>
  </form>
</main>

{% endblock %}