{% extends "layout.html.jinja" %}

{% from 'cultivation_plots/+header.html.jinja' import header %}
{% from 'cultivation_plots/+operation_table.html.jinja' import operation_table %}

{% block title %}

{{ cultivation_plot.name }} > Operations

{% endblock %}

{% block scripts %}

<script src="{{ url_for('static', filename='format-numbers.js') }}" defer></script>
<script src="{{ url_for('static', filename='format-timestamps.js') }}" defer></script>

{% endblock %}

{% block content %}

{{ header(cultivation_plot) }}

<main class="mt-4">

  <h2 class="text-center">Operations</h2>

  {% for operation in operations %}

  {{ operation_table(operation, 'border table-sm') }}

  {% endfor %}

</main>

{% endblock %}