{% extends "layout.html.jinja" %}

{% from 'cultivation_plots/+header.html.jinja' import header %}

{% block title %}

Cultivation plot > {{ cultivation_plot.name }}

{% endblock %}

{% block content %}

{{ header(cultivation_plot) }}

<main class="mt-4">
  <h2 class="text-center">Status</h2>

  <table class="table mt-3">
    <tbody>
      <tr>
        <th scope="row">Plants</th>
        <td>{{ cultivation_plot.number_of_plants }}</td>
      </tr>
      <tr>
        <th scope="row">Water spent (L)</th>
        <td>{{ cultivation_plot.water_spent|round(2) }}</td>
      </tr>
      <tr>
        <th scope="row">Harvest (kg)</th>
        <td>{{ cultivation_plot.harvest|round(2) }}</td>
      </tr>
    </tbody>
  </table>
</main>

{% endblock %}