{% extends "layout.html.jinja" %}

{% from 'cultivation_plots/+header.html.jinja' import header %}

{% block title %}

Cultivation plot > {{ cultivation_plot.name }}

{% endblock %}

{% block scripts %}

<script src="{{ url_for('static', filename='chart.js') }}"></script>
<script src="{{ url_for('static', filename='format-numbers.js') }}" defer></script>

{% endblock %}

{% block content %}

{{ header(cultivation_plot) }}

<main class="mt-4">

  <h2 class="text-center">Status</h2>

  <table class="table mt-3">
    <tbody>
      <tr>
        <th scope="row">Plants</th>
        <td class="whole-number">{{ cultivation_plot.number_of_plants }}</td>
      </tr>
      <tr>
        <th scope="row">Water spent (L)</th>
        <td class="real-number">{{ cultivation_plot.water_spent|round(2) }}</td>
      </tr>
      <tr>
        <th scope="row">Harvest (kg)</th>
        <td class="real-number">{{ cultivation_plot.harvest|round(2) }}</td>
      </tr>
    </tbody>
  </table>

  <h3 class="text-center mt-4 mb-2">Harvest trends</h3>

  <div>
    <canvas id="harvest-chart"></canvas>
  </div>

  <h3 class="text-center mt-4 mb-2">Water expenditure trends</h3>

  <div>
    <canvas id="water-spent-chart"></canvas>
  </div>

  <h3 class="text-center mt-4 mb-2">Trends in number of plants</h3>

  <div>
    <canvas id="number-of-plants-chart"></canvas>
  </div>

</main>

<script>

const operations = {{ operations | tojson }}
const waterSpentCtx = document.getElementById('water-spent-chart')
const numberOfPlantsCtx = document.getElementById('number-of-plants-chart')
const harvestCtx = document.getElementById('harvest-chart')

// We need to group operations per day, not per timestamp.
// It is important to add up the values for a day, otherwise
// we'll not see the real data. Don't forget that the operations
// are already sorted, using a map or an object won't work, since
// you'll mess-up the order.

const opsPerDay = operations.reduce((acc, cur) => {

  // We try to find an operation on the same day.

  const op = acc.find((el) => el.created_at === cur.created_at.split(' ')[0])

  if (op) {

    // If we have an operation on the same day, we
    // add the current operation metrics to it.

    op.number_of_plants += cur.number_of_plants
    op.harvest += cur.harvest
    op.water_spent += cur.water_spent

    return acc
  } else {
    acc.push({...cur, created_at: cur.created_at.split(' ')[0]})

    return acc
  }
}, [])

// Harvest chart

new Chart(harvestCtx, {
  type: 'bar',
  data: {
    labels: opsPerDay.filter(op => op.harvest > 0).map(op => op.created_at),
    datasets: [{
      data: opsPerDay.filter(op => op.harvest > 0).map(op => op.harvest),
      backgroundColor: '#fd7e14'
    }]
  },
  options: {
    locale: 'en-US',
    plugins: {
      legend: {
        display: false
      },
      tooltip: {
        enabled: false
      }
    },
    scales: {
      y: {
        beginAtZero: true,
        ticks: {
          callback: v => `${v} kg`
        }
      }
    }
  }
})

// Water spent chart

new Chart(waterSpentCtx, {
  type: 'bar',
  data: {
    labels: opsPerDay.filter(op => op.water_spent > 0).map(op => op.created_at),
    datasets: [{
      data: opsPerDay.filter(op => op.water_spent > 0).map(op => op.water_spent),
      backgroundColor: '#6f42c1'
    }]
  },
  options: {
    locale: 'en-US',
    plugins: {
      legend: {
        display: false
      },
      tooltip: {
        enabled: false
      }
    },
    scales: {
      y: {
        beginAtZero: true,
        ticks: {
          callback: v => `${v} L`
        }
      }
    }
  }
})

// Number of plants chart

new Chart(numberOfPlantsCtx, {
  type: 'line',
  data: {
    labels: opsPerDay.filter(op => op.number_of_plants != 0).map(op => op.created_at.split(' ')[0]),
    datasets: [
      {
        data: opsPerDay.filter(op => op.number_of_plants != 0).map((op, i, arr) => {
          if (arr[i-1]) {
            return arr[i-1].number_of_plants + op.number_of_plants
          } else {
            return op.number_of_plants
          }
        }),
        borderColor: '#0d6efd'
      }
    ]
  },
  options: {
    locale: 'en-US',
    plugins: {
      legend: {
        display: false
      },
      tooltip: {
        enabled: false
      }
    },
    scales: {
      y: {
        beginAtZero: true
      }
    }
  }
})

</script>

{% endblock %}