{% extends 'layout.html.jinja' %}

{% block title %}

Your account

{% endblock %}

{% block content %}

<main>
  <h1 class="text-center">Your account</h1>

  <table class="table mt-5">
    <tbody>
      <tr>
        <th scope="row">Username</th>
        <td>{{ user['username'] }}</td>
      </tr>
      <tr>
        <th scope="row">Member since</th>
        <td>{{ user['created_at'] }}</td>
      </tr>
    </tbody>
  </table>

  <div class="mt-5">
    <a href="{{ url_for('auth.change_password', id=user['id']) }}" class="btn btn-outline-primary">Change password</a>
    <a href="{{ url_for('auth.edit_account', id=user['id']) }}" class="btn btn-outline-primary">Edit account</a>

    <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#delete-modal">Delete account</button>

    <div class="modal fade" id="delete-modal" tabindex="-1" aria-labelledby="delete-modal-label" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="delete-modal-label">Are you sure?</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            This action can't be reversed.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <form action="{{ url_for('auth.delete_account', id=user['id']) }}" method="post">
              <button type="submit" class="btn btn-danger">Delete</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock %}