{% extends 'layout.html.jinja' %}

{% from 'auth/+password_input.html.jinja' import password_input %}

{% block title %}

Change password

{% endblock %}

{% block content %}

<main>

  <h1 class="text-center">Change password</h1>

  <form class="p-3 border rounded mt-4" action="{{ url_for('auth.change_password', id=user['id']) }}" method="post">
    {{ password_input('current_password', 'current_password', 'Current password <span class="text-danger">*</span>') }}

    {{ password_input('password', 'password', 'New password <span class="text-danger">*</span>') }}

    {{ password_input('password_confirmation', 'password_confirmation', 'Password confirmation <span class="text-danger">*</span>', mb=5) }}

    <div class="d-grid">
      <button type="submit" class="btn btn-primary">Change</button>
    </div>
  </form>

</main>

{% endblock %}