{% extends 'layout.html.jinja' %}

{% block title %}

Edit account

{% endblock %}

{% block content %}

<h1 class="text-center">Edit account</h1>

<form class="mt-5" action="{{ url_for('auth.edit_account', id=user['id']) }}" method="post">
  <div class="mb-5">
    <label for="username" class="form-label">Username <span class="text-danger">*</span></label>
    <input autofocus type="text" name="username" id="username" class="form-control" required value="{{ user['username'] }}">
  </div>

  <div class="d-grid">
    <button type="submit" class="btn btn-primary">Edit</button>
  </div>
</form>

{% endblock %}