{% extends "layout.html" %}

{% block title %}

Login

{% endblock %}

{% block content %}

<main>
  <h1 class="text-center mb-4">Welcome back</h1>

  <form method="POST" action="{{ url_for('auth.login') }}" class="p-4 border rounded">
    <div class="mb-3">
      <label for="password" class="form-label">Username</label>

      {% if form %}
        <input autocomplete="username" type="text" name="username" id="username" required minlength="3" maxlength="50" class="form-control" value="{{ form['username'] }}">
      {% else %}
        <input autocomplete="username" type="text" name="username" id="username" required minlength="3" maxlength="50" class="form-control">
      {% endif %}
    </div>

    <div class="mb-5">
      <label for="password" class="form-label">Password</label>

      <div class="input-group">

        {% if form %}
          <input autocomplete="current-password" type="password" name="password" id="password" required minlength="12" maxlength="32" class="form-control" aria-describedby="show-password" value="{{ form['password'] }}">
        {% else %}
          <input autocomplete="current-password" type="password" name="password" id="password" required minlength="12" maxlength="32" class="form-control" aria-describedby="show-password">
        {% endif %}

        <button class="btn btn-secondary" type="button" id="show-password" data-mode="hidden">
          <span id="eye">
            {% include "svgs/eye.html" %}
          </span>
          <span id="eye-slash" style="display:none;">
            {% include "svgs/eye_slash.html" %}
          </span>
        </button>

      </div>

      <script>
        const eyeIcon = document.getElementById('eye')
        const eyeSlashIcon = document.getElementById('eye-slash')
        const passwordInput = document.getElementById('password')

        document
          .getElementById('show-password')
          .addEventListener('click', (event) => {
            const btn = event.currentTarget
            if (btn.dataset.mode === 'hidden') {
              eyeIcon.style.display = 'none'
              eyeSlashIcon.style.display = 'inline'
              btn.dataset.mode = 'visible'
              passwordInput.setAttribute('type', 'text')
            } else if (btn.dataset.mode = 'visible') {
              eyeSlashIcon.style.display = 'none'
              eyeIcon.style.display = 'inline'
              btn.dataset.mode = 'hidden'
              passwordInput.setAttribute('type', 'password')
            } else {
              console.warn(`Unexpected mode "${btn.dataset.mode}"`)
              eyeSlashIcon.style.display = 'none'
              eyeIcon.style.display = 'inline'
              btn.dataset.mode = 'hidden'
              passwordInput.setAttribute('type', 'password')
            }
          })
      </script>
    </div>

    <div class="d-grid">
      <button type="submit" class="btn btn-primary">Login</button>
    </div>
  </form>

  <p class="text-center mt-4">Don't have an account? <a href="{{ url_for('auth.register') }}">Register instead</a>.</p>
</main>

{% endblock %}