{% macro password_input(name, id, label, autocomplete="off", mb=3, value='') -%}
  <div class="mb-{{ mb }}">
      <label for="{{ id }}" class="form-label">{{ label }}</label>

      <div class="input-group">

        <input autocomplete="{{ autocomplete }}" type="password" name="{{ name }}" id="{{ id }}" required minlength="12" maxlength="32" class="form-control" aria-describedby="{{ name }}-show-password" value="{{ value }}">

        <button class="btn btn-secondary" type="button" id="{{ name }}-show-password" data-mode="hidden">
          <span id="{{ name }}-eye">
            {% include "svgs/eye.html.jinja" %}
          </span>
          <span id="{{ name }}-eye-slash" style="display:none;">
            {% include "svgs/eye_slash.html.jinja" %}
          </span>
        </button>

      </div>

      <script>
        document
          .getElementById('{{ name }}-show-password')
          .addEventListener('click', (event) => {
            const eyeIcon = document.getElementById('{{ name }}-eye')
            const eyeSlashIcon = document.getElementById('{{ name }}-eye-slash')
            const passwordInput = document.getElementById('{{ id }}')
            const btn = event.currentTarget
            if (btn.dataset.mode === 'hidden') {
              eyeIcon.style.display = 'none'
              eyeSlashIcon.style.display = 'inline'
              btn.dataset.mode = 'visible'
              passwordInput.setAttribute('type', 'text')
            } else if (btn.dataset.mode = 'visible') {
              eyeSlashIcon.style.display = 'none'
              eyeIcon.style.display = 'inline'
              btn.dataset.mode = 'hidden'
              passwordInput.setAttribute('type', 'password')
            } else {
              console.warn(`Unexpected mode "${btn.dataset.mode}"`)
              eyeSlashIcon.style.display = 'none'
              eyeIcon.style.display = 'inline'
              btn.dataset.mode = 'hidden'
              passwordInput.setAttribute('type', 'password')
            }
          })
      </script>
    </div>
{%- endmacro %}