{% extends "layout.html" %}

{% block title %}

Register

{% endblock %}

{% block content %}

<main class="row">
  <h1 class="mb-4 col-12 text-center">Create an account</h1>

  <form method="POST" action="{{ url_for('auth.register') }}" class="p-4 col-12">
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>

      {% if form %}

      <input value="{{ form.get('username', '') }}" type="text" name="username" id="username" required minlength="3" maxlength="50" class="form-control">

      {% else %}

      <input type="text" name="username" id="username" required minlength="3" maxlength="50" class="form-control">

      {% endif %}
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Password</label>

      {% if form %}

      <input value="{{ form.get('password', '') }}" type="password" name="password" id="password" required minlength="12" maxlength="32" class="form-control">

      {% else %}

      <input type="password" name="password" id="password" required minlength="12" maxlength="32" class="form-control">

      {% endif %}
    </div>

    <div class="mb-5">
      <label for="password_confirmation" class="form-label">Password confirmation</label>

      {% if form %}

      <input value="{{ form.get('password_confirmation', '') }}" type="password" name="password_confirmation" 
      id="password_confirmation" required minlength="12" maxlength="32" class="form-control">

      {% else %}

      <input type="password" name="password_confirmation" id="password_confirmation" required minlength="12" maxlength="32" class="form-control">

      {% endif %}
    </div>

    <div class="d-grid">
      <button type="submit" class="btn btn-primary">Register</button>
    </div>
  </form>

  <p>Already have an account? <a href="{{ url_for('auth.login') }}">Login instead</a>.</p>

</main>

{% endblock %}