{% extends "layout.html.jinja" %}

{% import 'auth/macros.html.jinja' as macros %}

{% block title %}

Register

{% endblock %}

{% block content %}

<main>
  <h1 class="mb-4 text-center">Create an account</h1>

  <form method="POST" action="{{ url_for('auth.register') }}" class="p-4 border rounded">
    <div class="mb-3">
      <label for="username" class="form-label">Username <span class="text-danger">*</span></label>

      {% if form %}

      <input value="{{ form.get('username', '') }}" type="text" name="username" id="username" required minlength="3" maxlength="50" class="form-control">

      {% else %}

      <input type="text" name="username" id="username" required minlength="3" maxlength="50" class="form-control">

      {% endif %}
    </div>

    {% if form %}
      {{ macros.password_input('password', 'password', 'Password <span class="text-danger">*</span>', value=form.get('password', '')) }}
    {% else %}
      {{ macros.password_input('password', 'password', 'Password <span class="text-danger">*</span>') }}
    {% endif %}

    {% if form %}
      {{ macros.password_input('password_confirmation', 'password_confirmation', 'Password confirmation <span class="text-danger">*</span>', mb=5, value=form.get('password_confirmation', '')) }}
    {% else %}
      {{ macros.password_input('password_confirmation', 'password_confirmation', 'Password confirmation <span class="text-danger">*</span>', mb=5) }}
    {% endif %}

    <div class="d-grid">
      <button type="submit" class="btn btn-primary">Register</button>
    </div>
  </form>

  <p class="text-center mt-4">Already have an account? <a href="{{ url_for('auth.login') }}">Login instead</a>.</p>

</main>

{% endblock %}