{% extends "errors/layout.html.jinja" %}

{% block tab_title %}

Something went wrong

{% endblock %}

{% block title %}

Our server is not feeling well :&lpar;

{% endblock %}

{% block text %}

Go back <a href="{{ url_for('cultivation_plots.index') }}">to the dashboard</a>.</a>

{% endblock %}