@font-face {
  font-family: 'Jersey10';
  font-style: normal;
  font-weight: 400;
  src: url('./Jersey10-Regular.ttf') format('truetype');
}

*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-family: 'Jersey10', monospace;
  font-size: 8px;
}