:root {
  --form-bg: lightgray;
}

.form {
  padding: 1.5rem;
  background-color: var(--form-bg);
  border-width: 5px;
  border-style: outset;
}

.label-full {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
}

.input {
  border-style: inset;
  border-width: 0.4rem;
  font-size: 2.5rem;
}

.input:focus {
  outline: none;
}

.input-full {
  display: block;
  width: 100%;
}

.submit-btn {
  display: block;
  margin-left: auto;
  border-style: outset;
  border-width: 0.4rem;
}