@font-face {
  font-family: 'Jersey10';
  font-style: normal;
  font-weight: 400;
  src: url('./Jersey10-Regular.ttf') format('truetype');
}

*, *::after, *::before {
  box-sizing: border-box;
}

:root {
  --bg-color: white;
  --text-color: black;
  --link-color: blue;
}

html {
  font-family: 'Jersey10', monospace;
  font-size: 8px;
}

input {
  font-family: inherit;
}

p, button, label {
  font-size: 3rem;
}

a, a:visited {
  color: var(--link-color);
}

body {
  background-color: var(--bg-color);
  min-height: 100vh;
}

body > header {
  display: flex;
  align-items: flex-start;
}

body > header h1 {
  font-size: 6rem;
  margin-left: 16px;
  margin-top: 24px;
  margin-bottom: 0;
  font-weight: 400;
}

button {
  font-family: inherit;
}

#logout {
  position: fixed;
  bottom: 24px;
  right: 24px;
}