<!DOCTYPE html>

<html lang="en">

  <head>
    <!-- Common tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">

    <!-- The favicon! -->
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='logo.png') }}">

    <!-- Global styles -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='global.css') }}">

    <!-- Whatever styles the user wants for the page. -->
    {% block styles %}{% endblock %}

    <!-- Page title -->
    <title>Water me! {% block title %}{% endblock %}</title>

    <!-- Per page scripts, should be deferred. -->
    {% block scripts %}{% endblock %}

  </head>

  <body>

    <header>
      <a class="navbar-brand" href="{{ url_for('index') }}">
        <img width="100" src="{{ url_for('static', filename='logo.png') }}" alt="The app logo: Water me!">
      </a>

      <p>Did you water your plant?</p>
    </header>


    {% with messages = get_flashed_messages(with_categories=True) %}
    
    {% if messages %}

    <div class="alert alert-{{ messages[0][0] }}" role="alert">
      {{ messages[0][1] }}
    </div>

    {% endif %}

    {% endwith %}

    {% block content %}{% endblock %}

    {% if 'user_id' in session %}

    <form id="logout" method="POST" action="{{ url_for('sign_out') }}">
      <button type="submit">Sign out</button>
    </form>

    {% endif %}

  </body>

</html>