{% extends "layout.html" %}

{% block title %}

Register

{% endblock %}

{% block content %}

<main>
  <form method="POST" action="{{ url_for('sign_up') }}">
    <div>
      <label for="username">Username (email)</label>
      <input type="email" name="username" id="username" required>
    </div>

    <div>
      <label for="password">Password</label>
      <input type="password" name="password" id="password" required minlength="12" maxlength="32">
    </div>

    <div>
      <label for="password_confirmation">Password confirmation</label>
      <input type="password" name="password_confirmation" id="password_confirmation" required minlength="12" maxlength="32">
    </div>

    <button type="submit">Sign up</button>
  </form>

  <p>Already have an account? <a href="{{ url_for('sign_in') }}">Sign in!</a></p>
</main>

{% endblock %}