{% extends "layout.html" %}

{% block title %}

Sign in

{% endblock %}

{% block content %}

<main>
  <form method="POST" action="{{ url_for('sign_in') }}">
    <div>
      <label for="username">Username (email)</label>
      <input autocomplete="username" type="email" name="username" id="username" required>
    </div>

    <div>
      <label for="password">Password</label>
      <input autocomplete="current-password" type="password" name="password" id="password" required minlength="12" maxlength="32">
    </div>

    <button style="margin-top: 4rem;" type="submit">Sign in</button>
  </form>
</main>

<p>Don't have an account? <a href="{{ url_for('sign_up') }}">Sign up now!</a></p>

{% endblock %}