{% extends "layout.html" %}

{% block title %}

Register

{% endblock %}

{% block content %}

<form method="POST" action="{{ url_for('sign_up') }}">
  <div>
    <label for="username">Username (email)</label>
    <input type="email" name="username" id="username">
  </div>

  <div>
    <label for="password">Password</label>
    <input type="password" name="password" id="password">
  </div>

  <div>
    <label for="password_confirmation">Password confirmation</label>
    <input type="password" name="password_confirmation" id="password_confirmation">
  </div>

  <button type="submit">Sign up</button>
</form>

{% endblock %}