<!DOCTYPE html>

<html lang="en">

  <head>

    <!-- Common tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">

    <!-- Bootstrap 5.3.8 CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}" type="text/css">

    <!-- Page title -->
    <title>CultiCore > {% block title %}{% endblock %}</title>

    <!-- Per page scripts, should be deferred. -->
    {% block scripts %}{% endblock %}

  </head>

  <body>
    {% if g.user %}

    <nav class="navbar navbar-expand-lg sticky-top bg-light">
      <div class="container">

        <a class="navbar-brand" href="{{ url_for('cultivation_plots.index') }}">
          CultiCore
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-toggler" aria-controls="navbar-toggler" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar-toggler">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              {% if request.endpoint == 'cultivation_plots.index' %}
                <a class="nav-link active" aria-current="page" href="{{ url_for('cultivation_plots.index') }}">Dashboard</a>
              {% else %}
                <a class="nav-link" aria-current="page" href="{{ url_for('cultivation_plots.index') }}">Dashboard</a>
              {% endif %}
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" aria-disabled="true">Documentation</a>
            </li>
          </ul>

          <form method="POST" action="{{ url_for('auth.logout') }}">
            <button type="submit" class="btn btn-outline-danger d-flex align-items-center">
              {% include "svgs/exit.html.jinja" %}
              <span class="ms-2">Sign out</span>
            </button>
          </form>

        </div>

      </div>
    </nav>

    {% endif %}

    <div class="container mt-4 p-4">
      {% with messages = get_flashed_messages(with_categories=True) %}

      {% if messages %}

      <div class="alert alert-{{ messages[0][0] }} mb-5" role="alert">
        {{ messages[0][1] }}
      </div>

      {% endif %}

      {% endwith %}

      {% block content %}{% endblock %}

    </div>

    <!-- Bootstrap 5.3.8 scripts with Popper.js -->
    <script src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}"></script>

  </body>

</html>